/* Center all text on the page */
body{
  text-align: center;
}

/* Style for all color buttons */
.btn{
  height:200px ;
  width: 200px;
  border-radius: 20%; /* Rounded corners */
  border: 10px solid black; /* Black border around each button */
  margin: 2.5rem;             /* Space around buttons */
}

/* Container to hold all buttons in one line */
.btn-container{
  display: flex;
  justify-content: center; /* Center buttons horizontally */
}

/* Button colors */
.yellow{
  background-color: #f99b45;
}
.red{
  background-color: #d95980;
}
.purple{
  background-color: #819ff9;
}
.green{
  background-color: #63aac0;
}

/* Flash effect when game shows color */
.flash{
  background-color: white;
}

/* Flash effect when user clicks */
.userflash{
  background-color: green;
}